@inject NavigationManager NavigationManager
@inherits LayoutComponentBase
@implements IDisposable

<div class="page">
    @if (IsIndex)
    {
        <ErrorBoundary>
            <ChildContent>
                <main>
                    @Body
                </main>
            </ChildContent>
            <ErrorContent>
                <div class="index-error-modal-wrapper" style="display:block;">
                    <div class="index-error-modal">
                        <div class="top-icons">
                            <img src="icons/info.svg" class="info" />
                            <p class="verify-title">Error</p>
                        </div>

                        <p>An unhandled error has occurred.</p>
                        <br />
                        <p>@context.Message</p>

                        <a href="" onclick="location.reload()" class="reload button-green">Reload</a>
                    </div>
                </div>
            </ErrorContent>
        </ErrorBoundary>
    }
    else
    {
        <ErrorHandler>
            <Header />
            <main class="@(_keyboardIsOpen ? "minimized" : "")">
                @Body
            </main>
            <NavMenu />
        </ErrorHandler>
    }
</div>

@code {
    private bool _keyboardIsOpen;
    public bool IsIndex { get; set; }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
        KeyboardService.KeyboardStateChanged += HandleKeyboardChanged;

#if ANDROID
        MainActivity.OnNotificationNavigate += HandleNotificationNavigate;
#endif

        IsIndex = NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == string.Empty;
    }

    private void HandleNotificationNavigate(string urlToOpen)
    {
        NavigationManager.NavigateTo(urlToOpen);
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        IsIndex = string.IsNullOrEmpty(e.Location.Replace(NavigationManager.BaseUri, ""));
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
        KeyboardService.KeyboardStateChanged -= HandleKeyboardChanged;

        #if ANDROID
        MainActivity.OnNotificationNavigate -= HandleNotificationNavigate;
        #endif
    }

    private void HandleKeyboardChanged(bool isOpen)
    {
        _keyboardIsOpen = isOpen;
        StateHasChanged();
    }
}