.create-offer-main {
    display: flex;
    flex-direction: column;
    padding-bottom: 78px;

    .buttons {
        margin-top: 20px;

        button {
            margin-bottom: 10px;
        }
    }

    .margin {
        margin-bottom: 10px;
    }

    .no-margin {
        margin-bottom: 0 !important;
    }

    .dropdown {
        margin-bottom: 10px;
    }

    input[type=number], input[type=text] {
        margin-bottom: 10px;
    }
}

/*label {
    margin-bottom: 10px;
}
*/
.price-toggle {
    margin-bottom: 10px;
}

.trade-fee-container {
    display: flex;
    font-weight: 500;
    align-items: flex-end;

    img {
        filter: invert(1) !important;
        height: 18px;
        margin-left: 6px;
        margin-bottom: 3px;
    }
}